<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.matryxsoft.reports.ReportGenerator" />
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
<!--    <class name="com.demoqa.Testcases.ElementsTestcase_01"/> -->
<!--      <class name="com.demoqa.Testcases.FormsTestCase_02"/> -->
<!--      <class name="com.demoqa.Testcases.AlertsFrameWindowsTestCase_03"/> -->
<!--       <class name="com.demoqa.Testcases.WidgetsTestCase_04"/>  -->
<!--        <class name="com.demoqa.Testcases.InteractionsTestCase_05"/>  -->
      <class name="com.demoqa.Testcases.BookStoreApplicationTestcase_06"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
